[req_extensions]
basicConstraints = CA:FALSE
extendedKeyUsage = serverAuth
subjectAltName = critical, @alt_names

[alt_names]
otherName = 1.3.6.1.5.5.7.8.10;IA5String:fd89b714f3db00000200000064000000+area51.research@acp.example.com
DNS.0 = domain.example
